.site-card-wrapper {
    padding: 30px;
  }

  .teamName{
    text-align: center;
    margin-top: 64px;
    margin-bottom: 128x;
  }

  /* .slogen{
    margin-top: 32px;
    margin-bottom: 128x;
  } */