.auMap {
    width: 20vw;
    height: 20vw;
    cursor: pointer;
    transition: transform 1s;
}

.auMap:hover {
    transform: scale(1.1);
}

.auMap img {
    width: inherit;
    height: inherit;
}

.cover {
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 0;
}

.paperHeat {
    width: 100%;
    height: 20vh;
    overflow: hidden;
}

.heatBar {
    width: 50%;
    height: inherit;
    margin: 0 auto;
}