.container {
    width: 100vw;
}

.logo {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 24px 16px 0;
    float: left;
}

.dataList {
    width: 50vw;
}

.upDown {
    margin-left: 5px;
    display: inline-flex;
    flex-direction: column;
}

.field {
    vertical-align: sub;
}

.cataheaders {
    margin-top: 20px;
}

.cataheader {
    margin-right: 2vw;
}