.article {
    width: 50vw;
}

.article a {
    color: blue;
    font-size: 1.1rem;
    margin-left: 50%;
    display: inline-block;
    transform: translateX(-50%);
}

.article a:hover {
    text-decoration: underline;
}

.author {
    margin-left: 20px;
    color: blue;
    cursor: pointer;
}

.author:hover {
    text-decoration: underline;
}